@model List<Proyecto_PA.Entities.ProductoEnt>

@{
    ViewBag.Title = "ConsultaProductos";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Index", "Login")" class="btn btn-outline-secondary rounded-pill mb-3">
                <i class="fa fa-arrow-left mr-2"></i> Volver
            </a>

            <h4 class="card-title">Información de Productos</h4>

            <div style="text-align:left">
                <a class="btn btn-primary" href="@Url.Action("RegistrarProducto","Producto")">Agregar</a>
            </div>
            <br>

            @if (Model.Count() > 0)
            {
                <table id="tableData" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Vista Previa</th>
                            <th>Cambiar Estado</th>
                            <th>Actualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Precio.ToString("N2")</td>

                                @if (item.Estado == true)
                                {
                                    <td>Activo</td>
                                }
                                else
                                {
                                    <td>Inactivo</td>
                                }
                                <td style="text-align:center"><img src="@item.Imagen" style="width:100px; height:100px; border-radius:0px"></td>

                                <td style="text-align:center">
                                    <a href="@Url.Action("ActualizarEstadoProducto", "Producto", new { q = item.ConProducto })"><i class="fa fa-exchange fa-lg"></i></a>
                                </td>

                                <td style="text-align:center">
                                    <a href="@Url.Action("ActualizarProducto", "Producto", new { q = item.ConProducto })"><i class="fa fa-tag fa-lg"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info col-12" role="alert" style="text-align:center; margin-top:5%; font-size:18pt;">
                    No hay productos registrados en este momento
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
    $(document).ready(function () {
        $('#tableData').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    });
</script>
