@model List<Proyecto_PA.Entities.ProductoEnt>

@{
    ViewBag.Title = "ConsultaProductos";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información de Productos</h4>

            <div style="text-align:left">
                <a class="btn btn-primary" href="@Url.Action("RegistrarProducto","Producto")">Agregar</a>
            </div>
            <br>

            <table id="tableData" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Vista Previa</th>
                        <th>Cambiar Estado</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Cantidad</td>
                            <td>@item.Precio</td>

                            @if (item.Estado)
                            {
                                <td>Activo</td>
                            }
                            else
                            {
                                <td>Inactivo</td>
                            }
                            <td style="text-align:center"><img src="@item.Imagen" style="width:150px; height:100px; border-radius:0px"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
