@model List<Proyecto_PA.Entities.ProductoEnt>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .clientes-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .cliente {
        width: calc(33.33% - 20px); /* Espacio para tres elementos en una fila */
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        text-align: center;
    }

    .cliente-img {
        width: 300px;
        height: 300px;
        border-radius: 50%; /* Hace que la imagen sea redondeada */
        margin-bottom: 10px;
    }

    .cliente h4 {
        margin: 5px 0;
    }

    .cliente p {
        font-style: italic;
    }

</style>



<div class="col-md-12">
    <div class="section-title">
        <h3 class="title">Productos</h3>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                    @foreach (var item in Model)
                    {
                        <div class="product">

                            <div class="product-img">
                                <img src="@item.Imagen" class="card-img-top" style="width:200px; height:200px; border-radius:0px" alt="@item.Nombre">
                                <div class="product-label">

                                </div>
                            </div>
                            <div class="product-body">
                                <h5 class="card-title">@item.Nombre</h5>
                                <p class="card-text">Unidades: @item.Cantidad - ₡ @item.Precio.ToString("N2")</p>
                            </div>
                            @if (Session["ConUsuario"] != null)
                            {
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><a href="@Url.Action("ListaProductos","Producto")"><i class="fa fa-shopping-cart"></i>Ver Producto</a></button>
                                </div>
                            }

                        </div>}
                </div>
            </div>
            <br /><br />
            <div id="slick-nav-1" class="products-slick-nav"></div>
        </div>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
<br />
<div class="col-md-12">
    <div class="section-title">
        <h3 class="title">Acerca de Nosotros</h3>
    </div>
</div>
<div class="col-md-12">
    <p style="text-align:center">
        Electro es una tienda online dedicada a la venta de dispositivos electrónicos como teléfonos móviles, laptops, cámaras digitales y otros gadgets tecnológicos.
        Nuestra página web ofrece una amplia variedad de productos de las marcas más importantes del mercado como Samsung, Sony, Canon, HP, entre otras. Los usuarios podrán encontrar lo último en cuanto a smartphones, tablets, computadoras portátiles, cámaras réflex y de seguridad.
        La página tiene un diseño moderno, minimalista y fácil de navegar.
    </p>
</div>

&nbsp;&nbsp;&nbsp;
<br /><br /><br />

<div>
    <div class="section-title">
         <h3 class="title">Testimonios</h3>
     </div>
</div>
<div class="clientes-container">
    <div class="cliente">
        <img src="https://paulafotografia.com/wp-content/uploads/2021/11/Paula-Rauber-Altima-16.jpg" alt="Foto Cliente 1" class="cliente-img">
        <h4>Alejandro Gómez</h4>
        <p>"He utilizado el servicio de Electro durante meses y no puedo estar más contento. Es fácil de usar, confiable y ha hecho una gran diferencia en mi negocio. Recomiendo encarecidamente este servicio a todos."</p>
    </div>

    <div class="cliente">
        <img src="https://img.freepik.com/fotos-premium/retrato-reir-mujer-morena_993457-189.jpg" alt="Foto Cliente 2" class="cliente-img">
        <h4>Sofía Torres</h4>
        <p>"¡Increíble experiencia! Compré el [nombre del producto] y estoy encantado. La calidad del producto superó mis expectativas y el servicio al cliente fue excepcional. ¡Definitivamente volveré a comprar!"</p>
    </div>

    <div class="cliente">
        <img src="https://img.freepik.com/fotos-premium/emprendimiento-comercio-compra-consumidor-disponible_53876-58754.jpg" class="cliente-img">
        <h4>Andrés López</h4>
        <p>"Tuve un problema con mi pedido y el equipo de atención al cliente respondió rápidamente. Su atención y prontitud para resolver el problema fue excepcional. ¡Gracias por el excelente servicio!"</p>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>

  function AgregarCarrito(conProducto, disponible) {

      let cantidad = $("#prd-" + conProducto).val();

      if (cantidad > disponible) {

          alert("La cantidad ingresada supera las unidades disponibles")

      }
      else {
          $.ajax({
          url: '/Carrito/RegistrarCarrito',
          type: "POST",
          data: {
            "conProducto": conProducto,
            "cantidad": cantidad
          },
          success: function (data) {
            window.location.href = '@Url.Action("Index","Login")';
          }
        });
      }

  }

</script>
