@model List<Proyecto_PA.Entities.ProductoEnt>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <img src="@item.Imagen" class="card-img-top" alt="@item.Nombre" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">@item.Descripcion</p>
                        <p class="card-text">Unidades: @item.Cantidad - ₡ @item.Precio.ToString("N2")</p>
                        @if (Session["ConUsuario"] != null)
                        {
                            <div class="d-flex justify-content-between align-items-center">
                                <input id="prd-@item.ConProducto" type="number" class="form-control form-control-sm" min="1" max="@item.Cantidad">
                                <a href="#" class="btn btn-danger ml-2" onclick="AgregarCarrito(@item.ConProducto, @item.Cantidad)"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
        &nbsp;&nbsp;&nbsp;
    </div>
}
else
{
    <div class="alert alert-info col-12" role="alert" style="text-align:center; margin-top:5%; font-size:18pt;">
        No hay productos registrados en este momento
    </div>
}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>

  function AgregarCarrito(conProducto, disponible) {

      let cantidad = $("#prd-" + conProducto).val();

      if (cantidad > disponible) {

          alert("La cantidad ingresada supera las unidades disponibles")

      }
      else {
          $.ajax({
          url: '/Carrito/RegistrarCarrito',
          type: "POST",
          data: {
            "conProducto": conProducto,
            "cantidad": cantidad
          },
          success: function (data) {
            window.location.href = '@Url.Action("Index","Login")';
          }
        });
      }

  }

</script>