@model List<Proyecto_PA.Entities.ProductoEnt>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .clientes-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .cliente {
        width: calc(33.33% - 20px); /* Espacio para tres elementos en una fila */
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        text-align: center;
    }

    .cliente-img {
        width: 300px;
        height: 300px;
        border-radius: 50%; /* Hace que la imagen sea redondeada */
        margin-bottom: 10px;
    }

    .cliente h4 {
        margin: 5px 0;
    }

    .cliente p {
        font-style: italic;
    }

</style>



<div class="col-md-12">
    <div class="section-title">
        <h3 class="title">Productos</h3>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                    @foreach (var item in Model)
                    {
                        <div class="product">

                            <div class="product-img">
                                <img src="@item.Imagen" class="card-img-top" style="width:200px; height:200px; border-radius:0px" alt="@item.Nombre">
                                <div class="product-label">

                                </div>
                            </div>
                            <div class="product-body">
                                <h5 class="card-title">@item.Nombre</h5>
                                <p class="card-text">Unidades: @item.Cantidad - ₡ @item.Precio.ToString("N2")</p>
                            </div>
                            @if (Session["ConUsuario"] != null)
                            {
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><a href="@Url.Action("ListaProductos","Producto")"><i class="fa fa-shopping-cart"></i>Ver Producto</a></button>
                                </div>
                            }

                        </div>}
                </div>
            </div>
            <br /><br />
            <div id="slick-nav-1" class="products-slick-nav"></div>
        </div>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
<br />
<div class="col-md-12">
    <div class="section-title">
        <h3 class="title">Acerca de Nosotros</h3>
    </div>
</div>
<div class="col-md-12">
    <p style="text-align:center">
        Electro es una tienda online dedicada a la venta de dispositivos electrónicos como teléfonos móviles, laptops, cámaras digitales y otros gadgets tecnológicos.
        Nuestra página web ofrece una amplia variedad de productos de las marcas más importantes del mercado como Samsung, Sony, Canon, HP, entre otras. Los usuarios podrán encontrar lo último en cuanto a smartphones, tablets, computadoras portátiles, cámaras réflex y de seguridad.
        La página tiene un diseño moderno, minimalista y fácil de navegar.
    </p>
</div>

&nbsp;&nbsp;&nbsp;
<br /><br /><br />


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>

  function AgregarCarrito(conProducto, disponible) {

      let cantidad = $("#prd-" + conProducto).val();

      if (cantidad > disponible) {

          alert("La cantidad ingresada supera las unidades disponibles")

      }
      else {
          $.ajax({
          url: '/Carrito/RegistrarCarrito',
          type: "POST",
          data: {
            "conProducto": conProducto,
            "cantidad": cantidad
          },
          success: function (data) {
            window.location.href = '@Url.Action("Index","Login")';
          }
        });
      }

  }

</script>
