@model List<Proyecto_PA.Entities.FacturasEnt>
@{
    ViewBag.Title = "ConsultarFacturas";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Index", "Login")" class="btn btn-outline-secondary rounded-pill mb-3">
                <i class="fa fa-arrow-left mr-2"></i> Volver
            </a>

            <h4 class="card-title">Información de las facturas</h4>
            @if (ViewBag.MensajeUsuario != null)
            {
                <div class="alert alert-info" role="alert" style="text-align:center">
                    @ViewBag.MensajeUsuario
                </div>
            }

            <br>

            @if (Model.Count() > 0)
            {
                <table id="tableData" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Número de Factura</th>
                            <th>Total Factura</th>
                            <th>Fecha</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ConMaestro</td>
                                <td>@item.TotalFactura.ToString("N2")</td>
                                <td>@item.FechaCompra</td>

                                <td style="text-align:center">
                                    <a href="@Url.Action("ConsultarDetalleFactura", "Carrito", new { q = item.ConMaestro })"><i class="fa fa-search fa-lg"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info col-12" role="alert" style="text-align:center; margin-top:5%; font-size:18pt;">
                    No hay productos registrados en este momento
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
    $(document).ready(function () {
        $('#tableData').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    });
</script>
