<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Electro</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/template/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/template/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/template/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="~/template/css/nouislider.min.css" />
    <link rel="stylesheet" href="~/template/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/template/css/style.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

</head>
<body>
    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +506 86077091</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> Electro@gmail.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Sabana Sur</a></li>
                </ul>

                <ul class="header-links pull-right">

                    @if (Session["ConUsuario"] != null)
                    {
                        <li><a href="@Url.Action("CerrarSesion", "Login")"><i class="fa fa-sign-out"></i> Cerrar Sesión</a></li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("IniciarSesion", "Login")"><i class="fa fa-user-o"></i> Iniciar Sesión</a></li>
                        <li><a href="@Url.Action("RegistrarCuenta","Login")"><i class="fa fa-user-o"></i> Registarse</a></li>
                    }

                   
                    @if (Session["Rol"] != null && Session["Rol"].Equals("Administrador"))
                    {
                        <li><a href="@Url.Action("ConsultaUsuarios","Usuario")"><i class="fa fa-cog"></i> Mantenimiento Usuarios</a></li>
                        <li><a href="@Url.Action("ConsultarProductos","Producto")"><i class="fa fa-cog"></i>Consultar Productos</a></li>
                    }

                </ul>
            </div>
        </div>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="@Url.Action("Index","Login")" class="logo">
                                <img src="~/template/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <option value="0">Categorias</option>
                                    <option value="1">Categoria 01</option>
                                    <option value="1">Categoria 02</option>
                                </select>
                                <input class="input" placeholder="Ingrese el nombre del artículo">
                                <button class="search-btn">Buscar</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">

                            @if (Session["Nombre"] != null)
                            {
                                <div>
                                    <a href="@Url.Action("PerfilUsuario","Usuario")">
                                        <i class="fa fa-user-o"></i>
                                        <span>Perfil usuario</span>
                                    </a>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Carrito</span>
                                    </a>
                                    <div class="cart-dropdown">
                                        <div class="cart-list">
                                            <div class="product-widget">
                                                <div class="product-img">
                                                    <img src="~/template/img/product01.png" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a href="#">Laptop</a></h3>
                                                    <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                                </div>
                                                <button class="delete"><i class="fa fa-close"></i></button>
                                            </div>

                                            <div class="product-widget">
                                                <div class="product-img">
                                                    <img src="~/template/img/product02.png" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                    <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                                </div>
                                                <button class="delete"><i class="fa fa-close"></i></button>
                                            </div>
                                        </div>
                                        <div class="cart-summary">
                                            <small>3 Item(s) selected</small>
                                            <h5>SUBTOTAL: $2940.00</h5>
                                        </div>
                                        <div class="cart-btns">
                                            <a href="#">Ver Artículo</a>
                                            <a href="#">Pagar  <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }




                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Pantalla Principal</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Computadoras</a></li>
                    <li><a href="#">Teléfonos</a></li>
                    <li><a href="#">Cámaras</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="section">
        <div class="container">
            <div class="row">
                         @if (Session["ConUsuario"] != null)
         {
             @Session["Nombre"]
         }


         &nbsp;&nbsp;&nbsp;


         @if (Session["ConUsuario"] != null)
         {
             <div style="margin-left:2%">
                 <i class="fa fa-tag"></i> @Session["Cant"].ToString() &nbsp;&nbsp;&nbsp;
                 <i class="fa fa-credit-card"></i> @decimal.Parse(Session["Subt"].ToString()).ToString("N2") + ivi
             </div>
         }
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="~/template/img/shop01.png" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Colección<br>Computadoras</h3>
                            <a href="#" class="cta-btn">Ver ahora <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="~/template/img/shop03.png" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Colección<br>Accesorios</h3>
                            <a href="#" class="cta-btn">Ver ahora <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="~/template/img/shop02.png" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Colección<br>Cámara</h3>
                            <a href="#" class="cta-btn">Ver ahora <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                @RenderBody()
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Nuevos Productos</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Computadoras</a></li>
                                <li><a data-toggle="tab" href="#tab1">Teléfonos</a></li>
                                <li><a data-toggle="tab" href="#tab1">Cámaras</a></li>
                                <li><a data-toggle="tab" href="#tab1">Accesorios</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-1">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product01.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria </p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Comprar</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product02.png" alt="">
                                            <div class="product-label">
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Comprar</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product03.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-rating">
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Comprar</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product04.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Comprar</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product05.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp" title="Ver Árticulos"> Ver Árticulos </span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Comprar</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="slick-nav-1" class="products-slick-nav"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Ofertas</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab2">Computadoras</a></li>
                                <li><a data-toggle="tab" href="#tab2">Celulares</a></li>
                                <li><a data-toggle="tab" href="#tab2">Cámaras</a></li>
                                <li><a data-toggle="tab" href="#tab2">Accesorios</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <div id="tab2" class="tab-pane fade in active">
                                <div class="products-slick" data-nav="#slick-nav-2">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product06.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product07.png" alt="">
                                            <div class="product-label">
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Comprar</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product08.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-rating">
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Comprar</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product09.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Comprar</button>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/template/img/product01.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Categoria</p>
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Añadir a favoritos</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir al Carrito</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Árticulos</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Comprar</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="slick-nav-2" class="products-slick-nav"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="section-title">
                        <h4 class="title">Accesorios</h4>
                        <div class="section-nav">
                            <div id="slick-nav-3" class="products-slick-nav"></div>
                        </div>
                    </div>
                    <div class="products-widget-slick" data-nav="#slick-nav-3">
                        <div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product07.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product08.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product09.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product01.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product02.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product03.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="section-title">
                        <h4 class="title">Cámaras</h4>
                        <div class="section-nav">
                            <div id="slick-nav-4" class="products-slick-nav"></div>
                        </div>
                    </div>

                    <div class="products-widget-slick" data-nav="#slick-nav-4">
                        <div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product04.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product05.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product06.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product07.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product08.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product09.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm visible-xs"></div>

                <div class="col-md-4 col-xs-6">
                    <div class="section-title">
                        <h4 class="title">Computadoras</h4>
                        <div class="section-nav">
                            <div id="slick-nav-5" class="products-slick-nav"></div>
                        </div>
                    </div>

                    <div class="products-widget-slick" data-nav="#slick-nav-5">
                        <div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product01.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product02.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product03.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product04.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product05.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/template/img/product06.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Categoria</p>
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="section">
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Sobre Nosotros</h3>
                                <p> En frente del Cotepecos Sabana Sur, San José, Costa Rica</p>
                                <ul class="footer-links">
                                    <li><a href="#"><i class="fa fa-map-marker"></i> En frente del Cotepecos Sabana Sur, San José, Costa Rica</a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>+506 86077091</a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i>Electro@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Categorias</h3>
                                <ul class="footer-links">
                                    <li><a href="#">Ofertas</a></li>
                                    <li><a href="#">Nuevos productos</a></li>
                                    <li><a href="#">Celulares</a></li>
                                    <li><a href="#">Cámaras</a></li>
                                    <li><a href="#">Accesorios</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Información</h3>
                                <ul class="footer-links">
                                    <li><a href="#">Política de privacidad</a></li>
                                    <li><a href="#">Términos y Condiciones</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-footer" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year. Derechos Reservados.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/template/js/jquery.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/slick.min.js"></script>
    <script src="~/template/js/nouislider.min.js"></script>
    <script src="~/template/js/jquery.zoom.min.js"></script>
    <script src="~/template/js/main.js"></script>

    <script src="https://code.jquerry.com/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("main-panel").style.width = "100%";
            });
    </script>

</body>
</html>
