@model Proyecto_PA.Entities.UsuarioEnt
@{
    ViewBag.Title = "PerfilUsuario";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">

                <a href="@Url.Action("ConsultaUsuarios", "Usuario")" class="btn btn-outline-secondary rounded-pill mb-3">
                    <i class="fa fa-arrow-left mr-2"></i> Volver
                </a>

                <h3 class="card-title text-left mb-3">Perfil de Usuario</h3>

                @if (ViewBag.MensajeUsuario != null)
                {
                    <div class="alert alert-info" role="alert" style="text-align:center">
                        @ViewBag.MensajeUsuario
                    </div>
                }

                @using (Html.BeginForm("PerfilUsuario", "Usuario", FormMethod.Post, new { @class = "pt-3" }))
                {
                    @Html.HiddenFor(m => m.ConUsuario)

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Identificacion, new { @onkeyup = "ConsultarNombre()", @class = "form-control form-control-lg", @type = "text", @placeholder = "Identificación" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Nombre, new { @readonly = "@readonly", @class = "form-control form-control-lg", @type = "text", @placeholder = "Nombre" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control form-control-lg", @type = "email", @placeholder = "Correo Electronico" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Dirección" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Constraseña" })
                    </div>

                    if (Session["Rol"] != null && Session["Rol"].ToString().Equals("1"))
                    {

                        <div class="form-group">
                            @Html.DropDownListFor(m => m.ConRol, ViewBag.Rol as List<SelectListItem>, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Rol" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.ConRol, ViewBag.Rol as List<SelectListItem>, new { @disabled = "disabled", @class = "form-control form-control-lg", @type = "text", @placeholder = "Rol" })
                        </div>
                    }

                    <div class="mt-3">
                        <input type="submit" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn" value="Actualizar Perfil">
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script src="~/Funciones/ConsultarNombre.js"></script>
