@model IEnumerable<Proyecto_PA.Entities.UsuarioEnt>

@{
    ViewBag.Title = "ConsultaUsuarios";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Index", "Login")" class="btn btn-outline-secondary rounded-pill mb-3">
                <i class="fa fa-arrow-left mr-2"></i> Volver
            </a>

            <h4 class="card-title">Información de Usuarios</h4>

            @if (Model.Count() > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center">Identificación</th>
                            <th style="text-align:center">Nombre</th>
                            <th style="text-align:center">Correo Electrónico</th>
                            <th style="text-align:center">Estado</th>
                            <th style="text-align:center">Cambiar Estado</th>
                            <th style="text-align:center">Actualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">@item.Identificacion</td>
                                <td style="text-align:center">@item.Nombre</td>
                                <td style="text-align:center">@item.Correo</td>

                                @if (item.Estado)
                                {
                                    <td style="text-align:center">Activo</td>
                                }
                                else
                                {
                                    <td style="text-align:center">Inactivo</td>
                                }

                                <td style="text-align:center"><a href="@Url.Action("ActualizarEstadoUsuario", "Usuario", new { ConUsuario  = item.ConUsuario })"><i class="fa fa-exchange fa-lg"></i></a></td>
                                <td style="text-align:center"><a href="@Url.Action("ActualizarUsuario", "Usuario", new { ConUsuario = item.ConUsuario })"><i class="fa fa-user"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info col-12" role="alert" style="text-align:center; margin-top:5%; font-size:18pt;">
                    No hay usuarios registrados en este momento
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
    $(document).ready(function () {
        $('#tableData').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    });
</script>
